* {
  margin: 0px;
  padding: 0px;
}
/* Default Font link */
body {
  font-family: "Poppins", sans-serif;
  font-family: "Yeseva One", cursive;
}
.btn-primary {
  border-radius: 5px;
  background: #ff5959;
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #fff;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
.btn-primary:hover {
  background: #ffad5a;
  color: #fff;
}
/* Header Section Style */

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image img {
  width: 300px;
  height: 410px;
}
.header-title {
  color: #333;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  text-transform: capitalize;
}
.skills-part {
  color: #ffad5a;
}

.header-description {
  color: #3e3e3e;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
  width: 580px;
}
.small-description {
  color: #434343;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

/* Skills Section Style */

.skill-title {
  color: #13103a;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.year-title {
  color: #ffad5a;
}

.skill-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-member1,
.skill-member2,
.skill-member3 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin-top: 50px;
}
.skill-member1 {
  border-radius: 26px;
  background: rgba(79, 157, 166, 0.1);
}
.skill-member2 {
  border-radius: 26px;
  background: rgba(255, 89, 89, 0.1);
}
.skill-member3 {
  border-radius: 26px;
  background: #fff4d6;
}

.skill-small-title {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.skill-description {
  color: #424242;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
img.icon-image {
  width: 130px;
}

.metting-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.mitting-image img {
  width: 400px;
  height: 400px;
}

.mitting-image {
  margin-right: 50px;
  margin-left: -132px;
}
.mitting-title {
  color: #333;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
}
.mitting-description {
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px 20px;
}
.shape-img img {
  width: 202px;
}

.shape-img {
  margin-left: -70px;
}

.metting-section.revers {
    display: flex;
    flex-direction: row-reverse;
}